@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}
body{
    overflow-x: hidden;
    background: #fff;
    min-height: 100vh;
}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}
.logo{
    color: #112434;
    font-weight: 700;
    font-size: 2em;
    text-decoration: none;
}
.navigation{
    gap: 40px;
}
.navbar-nav .nav-link{
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    font-size: 2em;
    border-radius: 20px;
}
.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active{
    background: #112434;
    color: #fff;
}
.intro{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.intro img{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
}
.text{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%);
    font-size: 3em;
    color: #112434;
}
.about{
    position: relative;
    padding: 100px;
    background: #112434;
}
.about .subtitle{
    font-size: 3em;
    color: #fff;
    margin-bottom: 15px;
}
.about p{
    font-size: 1em;
    color: #fff;
    font-weight: 300;
}
.events{
    position: relative;
    padding: 100px;
    background: #112434;
}
.events .subtitle{
    font-size: 3em;
    color: #fff;
    margin-bottom: 15px;
}
.events p{
    font-size: 1em;
    color: #fff;
    font-weight: 300;
}
.footer .nav-link{
    text-decoration: none;
    padding: 6px 15px;
    margin: 20px 0 20px 0;
    color: #112434;
    font-size: 1.5em;
}